{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}

Resetar Senha | {{ block.super }} 

{% endblock title %} 
{% block container %} 

  <div class="row"> 
  <div class="col-md-8 col-md-offset-2"> 
    <div class="page-header"> 
        <h1>Esqueceu a senha? </h1>
        {% for error in form.non_field_errors %}
                  <div class='alert alert-danger'>
                      {{ error }}
                  </div>
        {% endfor %}
    </div>  
                <form class="form-horizontal" method="POST">
                {% csrf_token %}
                    <fieldset>
                        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                          <label for="{{form.email.auto_id }}" class="col-md-3 control-label">{{ form.email.label_tag }}</label>
                          <div class="col-md-9">
                          {% render_field form.email class='form-control' placeholder='E-mail'%}
                          {% for error in form.email.errors %}
                            <span class='help-block'>{{error}}</span>
                          {%endfor%}
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-9 col-md-offset-3">
                            <button type="submit" class="btn btn-primary"> Resetar Senha </button>
                          </div>
                        </div>
                    </fieldset>
                </form>
            </div>


{% endblock container %}