{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Apagar | {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h1>Apagar</h1>
        </div>
        <form action="" method="POST">
            <p>Deseja realmente excluir: <strong>{{ object }}</strong>?</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="#" onClick="history.go(-1)" class="btn btn-link"> Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
